* {
    box-sizing: border-box;
    text-align: center;
}

body {
    font-size: 15px;
    line-height: 35px;
    color: #333;
}

.container {
    width: 1024px;
    line-height: 50px;
    margin: 0 auto;
    overflow: auto;
    background: lightgray;
}

div {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 55px;
    margin-left: 36px;
}

.aside,
.section {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.header {
    position: relative;
    background-color: aquamarine;
}

.nav {
    position: relative;
    background-color: aquamarine;
    margin-bottom: 10px;
}

.nav a {
    color: crimson;
}

.section {
    float: left;
    width: 532px;
    padding: 15px;
    margin-bottom: 10px;
    margin-right: 1px;
    text-align: center;
    color: white;
    font-size: 15px;
    background-color: #e2d7
}

.aside {
    float: right;
    position: relative;
    width: 388px;
    padding: 120px;
    margin-left: 1px;
    margin-bottom: 10px;
    text-align: center;
    color: white;
    font-size: 15px;
    background-color: rgb(187, 202, 216);
}

.footer {
    position: relative;
    background-color: rgb(223, 189, 146);
    margin-bottom: 50px;
    clear: both;
}

.article {
    display: block;
    padding: 15px;
    margin: 5px 1px 10px 1px;
    background-color: #999999;
    position: relative;
    overflow: auto;
}

.h1 {
    display: block;
    margin-bottom: 5px;
    background-color: #e2d73f;
    position: relative;
    margin-right: 3px;
    margin-left: 0.25px;
}

.p {
    display: block;
    margin-bottom: 5px;
    background-color: #e2d73f;
    position: relative;
    margin-right: 3px;
    margin-left: 0.25px;
}