* {
    box-sizing: border-box;
    text-align: center;
}

.container {
    display: block;
    width: 1024px;
    margin-left: 90px;
    overflow: auto;
}

body {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 35px;
    color: #777;
    background-color: #777;
    width: 960px;
}

.header,
.nav,
.section,
.aside,
.footer {
    background-color: #ebebeb;
}

div {
    width: 495;
    line-height: 62px;
}

.aside,
.section {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.header {
    position: relative;
    margin-top: 20px;
    margin-bottom: 10px;
}

.nav {
    position: relative;
    margin-bottom: 10px;
}

.nav a {
    color: #777;
}

.section {
    float: left;
    width: 570px;
    margin-bottom: 10px;
    text-align: center;
    margin-right: 1px;
    padding: 10px;
}

.aside {
    float: right;
    position: relative;
    width: 430px;
    padding: 123px;
    margin-left: 1px;
    margin-bottom: 10px;
    text-align: center;
}

.footer {
    position: relative;
    margin-bottom: 50px;
    clear: both;
}

.article {
    display: block;
    padding: 15px;
    position: relative;
    overflow: auto;
    color: #ebebeb;
    background-color: #777;
}

.h1 {
    display: block;
    margin-bottom: 5px;
    background-color: #ebebeb;
    position: relative;
    margin-right: 3px;
    margin-left: 0.25px;
    color: #777;
}

.p {
    display: block;
    margin-bottom: 5px;
    background-color: #ebebeb;
    position: relative;
    margin-right: 3px;
    margin-left: 0.25px;
    color: #777;
}